@import './norm.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

:root {
  /* board */
  --board-size: 10;
  --grid-size: 2rem;

  /* color */
  --white: white;
  --black: black;
  --gray: gray;
  --blue: blue;
  --orange: orange;
  --red: red;
  --board-border: var(--black);
  --hit: var(--orange);
  --missed: var(--gray);
  --sunk: var(--red);
  --transparent: #00000000;
}

.board {
  margin: 2rem;
  display: grid;
  grid-template-columns: 20rem;
  grid-template-rows: 20rem;
}

.player .seaLayer,
.player .shipLayer {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(var(--board-size), var(--grid-size));
  grid-template-rows: repeat(var(--board-size), var(--grid-size));
}

.player .seaLayer {
  background-color: var(--white);
  user-select: none;
  z-index: 2;
}

.player > .board.lock .seaLayer {
  pointer-events: none;
}

.player.main .seaLayer {
  opacity: .5;
  user-select: none;
  pointer-events: none;
}

.player .shipLayer {
  z-index: 1;
}

.player .grid {
  border-bottom: 1px solid var(--board-border);
  border-right: 1px solid var(--board-border);
}

.player .grid.upperBorder {
  border-top: 1px solid var(--board-border);
}

.player .grid.leftBorder {
  border-left: 1px solid var(--board-border);
}

.player .grid.hasShip {
  background-color: var(--blue);
}

.player .seaLayer .grid.alreadyHit {
  position: relative;
}

.player .seaLayer .grid.alreadyHit::after {
  position: absolute;
  top: .2rem;
  left: .2rem;
  content: 'local_fire_department';
  color: var(--hit);
}

.player .grid.alreadyMissed {
  background-color: var(--missed);
}

.player .grid.alreadyHit.sunk {
  background-color: var(--sunk);
}